<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body> 
    <p> это файл blackberries</p>
    
    <h1><a href="{{ url_for('chery', id=id) }}">chery: {{ id }}</a></h1>
    <p>ишня растет на дереве</p>
    <h1><a href="{{ url_for('melon', id=id) }}">melon: {{ id }}</a></h1>
    <p>арбуз растет на земле</p>
    <h1><a href="{{ url_for('watermelon', id=id) }}">watermelon: {{ id }}</a></h1>
    <p>дыня растет на земле</p>
    <h1><a href="{{ url_for('potato', id=id) }}">potato: {{ id }}</a></h1>
    <p>картошка растет в земле</p>
    <h1><a href="{{ url_for('tomato', id=id) }}">tomato: {{ id }}</a></h1>
    <p>помидор растет на кусте</p>
    <h1><a href="{{ url_for('blackberries', id=id) }}">blackberries: {{ id }}</a></h1>
    <p>ежевика растет на кусте</p>
    <h1><a href="{{ url_for('pear', id=id) }}">pear: {{ id }}</a></h1>
    <p>груша растет на дереве</p>
    <h1><a href="{{ url_for('cucumber', id=id) }}">cucumber: {{ id }}</a></h1>
    <p>огурец растет на кусте</p>
    <h1><a href="{{ url_for('grape', id=id) }}">grape: {{ id }}</a></h1>
    <p>виноград растет на дереве</p>
</body>
</html>